* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-white: #fff;
  --color-secondary: #f65282;
}
.hero-page {
  background-image: url("../img/overlay.png");
  background-size: cover;
  height: 444px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}

.about-hero h2 {
  line-height: 87px;
}
.about-hero p {
  line-height: 30px;
}
h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 54px;
  font-weight: bold;
}
h3 {
  font-size: 36px;
  font-weight: bold;
}
h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  padding-top: 20px;
}
h5 {
  border-bottom: 1px dashed #67d5d2;
  padding: 25px 0;
  font-weight: bold;
}
h6 {
  font-weight: 800;
  color: var(--color-secondary);
}

h2 .text-bold {
  line-height: 38px;
}
.box-img {
  overflow: hidden;
}

.box-img img {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.cont-card {
  margin: 0 auto;
}
.follow-box {
  display: flex;
  flex-direction: row;

  padding: 0px;
  gap: 30px;
}
ul li {
  list-style: none;
}
ul {
  padding: 0;
  margin-top: 38px;
}
.list-item li {
  padding: 10px 0;
  border-bottom: 1px dashed #67d5d2;
}
.list-item {
  padding-right: 40px;
}
