* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

:root {
  --color-white: #fff;
}
.hero-page {
  background-image: url("../img/overlay.png");
  background-size: cover;
  height: 444px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
h1,
.text-bold,
p {
  font-weight: bold;
}
p {
  font-size: 18px;
  line-height: 38px;
}
.box-img {
  overflow: hidden;
}

.box-img img {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.cont-card {
  margin: 0 auto;
}
